<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Site Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700,900|Roboto+Slab:300,400,700|Rajdhani:300,400,500,600,700" rel="stylesheet">
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <link rel="stylesheet" href="plugins/Bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" type="text/css" href="plugins/Icons/flaticon.css">
  </head>
  <body>







   <header class="default-header">
    <div class="row">
      <!-- Logo Section Start -->
      <div class="col-2 col-md-2 col-lg-2 dh-col">
        <div class="dh-col-logo-sec">
          <img src="map.png" alt="Logo">
        </div>
      </div>
      <!-- Logo Section End -->
      <!-- Search Section Start -->
      <div class="col-8 col-md-6 col-lg-6 dh-col">
        <div class="dh-search-sec">
          <form class="" action="" method="GET">
             <input type="text" name="" value="" placeholder="Search 'ANventory' for anything... " id="site-search" autocomplete="off">
             <label for="site-search"> <i class="flaticon-059-loupe"></i> </label>
          </form>
          <div class="hs-suggestion-box">
            <div class="hs-sugg-head">
               <i class="flaticon-138-keyboard"></i> You have searched for -
               <span class="hs-sugg-head-typed"></span>
            </div>
            <div class="hs-sugg-conents">
               <ul>
                 <li class="wavers wavers-light"><a href="#"> I am the Suggestion </a></li>
                 <li class="wavers wavers-light"><a href="#"> I am the Suggestion </a></li>
                 <li class="wavers wavers-light"><a href="#"> I am the Suggestion </a></li>
                 <li class="wavers wavers-light"><a href="#"> I am the Suggestion </a></li>
                 <li class="wavers wavers-light"><a href="#"> I am the Suggestion </a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Search Section End -->
      <!-- Links Section Start -->
      <div class="col-2 col-md-4 col-lg-4 dh-col">

        <!-- Linkes For Desktop Version Start  -->
        <div class="dh-links-sec">
          <ul class="khan">
            <li class="dhls-primary-li"> <a href="#" class="dhls-primary-a"> <i class="flaticon-190-network"></i> </a> </li>
            <li class="dhls-primary-li">
              <a href="#" class="dhls-primary-a">
                <i class="flaticon-045-chat-1"></i>
              </a>
              <span class="dhls-drop-counter"> 19 </span>
              <div class="dhls-drop dhls-drop-mn" id="dhls-drop-1"> <!--Drop Down Start-->
                <div class="dhlsd-head">
                   Messages
                </div>
                <div class="dhlsd-content">
                  <ul>
                    <li class="dhls-sec-li">
                      <a href="#" class="dhls-sec-a">
                        <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="drop-user-img">
                               <img src="assets/images/profile.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="drop-user-details">
                               <span class="drop-user-name">Nadeem Ahmad</span>
                               <span class="drop-user-text">Hey Bro, How are you ! </span>
                               <span class="drop-user-time"> 2 mins ago </span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dhlsd-foot">
                   <a href="#"> Show All Messages </a>
                </div>
              </div><!--drop Down End-->
            </li>
            <li class="dhls-primary-li">
              <a href="#" class="dhls-primary-a">
                <i class="flaticon-211-notification"></i>
              </a>
              <span class="dhls-drop-counter"> 56 </span>
              <div class="dhls-drop dhls-drop-mn" id="dhls-drop-2"> <!--Drop Down Start-->
                <div class="dhlsd-head">
                   Messages
                </div>
                <div class="dhlsd-content">
                  <ul>
                    <li class="dhls-sec-li">
                      <a href="#" class="dhls-sec-a">
                        <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="drop-user-img">
                               <img src="assets/images/profile.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="drop-user-details">
                               <span class="drop-user-name">Nadeem Ahmad</span>
                               <span class="drop-user-text">Hey Bro, How are you ! </span>
                               <span class="drop-user-time"> 2 mins ago </span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="dhls-sec-li">
                      <a href="#" class="dhls-sec-a">
                        <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="drop-user-img">
                               <img src="assets/images/profile.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="drop-user-details">
                               <span class="drop-user-name">Nadeem Ahmad</span>
                               <span class="drop-user-text">Hey Bro, How are you ! </span>
                               <span class="drop-user-time"> 2 mins ago </span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="dhls-sec-li">
                      <a href="#" class="dhls-sec-a">
                        <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="drop-user-img">
                               <img src="assets/images/profile.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="drop-user-details">
                               <span class="drop-user-name">Nadeem Ahmad</span>
                               <span class="drop-user-text">Hey Bro, How are you ! </span>
                               <span class="drop-user-time"> 2 mins ago </span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dhlsd-foot">
                   <a href="#"> Show All Messages </a>
                </div>
              </div><!--drop Down End-->
            </li>
            <li class="dhls-primary-li"> <a href="#" class="dhls-primary-a"> <i class="flaticon-041-suitcase"></i> </a> </li>
            <li class="dhls-primary-li">
              <a href="#" class="dhls-primary-a dhls-primarya-img">
                 <div class="dhls-img-sec">
                   <img src="assets/images/profile.jpg" alt="">
                 </div>
              </a>
              <div class="dhls-drop dhls-drop-p" id="dhls-drop-1"> <!--Drop Down Start-->
                <div class="dhlsd-content">
                  <ul>
                    <li class="dhls-sec-li wavers wavers-dark"><a href="#" class="dhls-sec-a"> Profile </a></li>
                    <li class="dhls-sec-li wavers wavers-dark"><a href="#" class="dhls-sec-a"> Dashboard </a></li>
                    <li class="dhls-sec-li wavers wavers-dark"><a href="#" class="dhls-sec-a"> Settings </a></li>
                    <li class="dhls-sec-li wavers wavers-dark"><a href="#" class="dhls-sec-a"> Help </a></li>
                    <li class="dhls-sec-li wavers wavers-dark"><a href="#" class="dhls-sec-a"> Logout </a></li>
                  </ul>
                </div>
              </div><!--drop Down End-->
            </li>
          </ul>
        </div>
        <!-- Linkes For Desktop Version End  -->

        <!--Profile Links For Mobile Version Start  -->
        <div class="header-sec header-prof-links-sec">
          <ul class="hpls-ul1">
            <li class="hls-link">
              <a href="#">
                 <div class="hls-user-img">
                     <img src="assets/images/profile.jpg" alt="">
                 </div>
              </a>
            </li>
          </ul>
          <div class="header-prof-links-table">
              <span class="hplt-close"> <i class="flaticon-164-cancel-1"></i> </span>
              <ul>
                <li class="hplt-logo">
                   <img src="map.png" alt="">
                </li>
                <li class="wavers wavers-dark"> <a href="#"> Profile </a></li>
                <li class="wavers wavers-dark"> <a href="#"> Dashboard </a></li>
                <li class="wavers wavers-dark"> <a href="#"> Settings </a></li>
                <li class="wavers wavers-dark"> <a href="#"> Help </a></li>
                <li class="wavers wavers-dark"> <a href="#"> Logout </a></li>
              </ul>
          </div>
        </div>
        <!--Profile Links For Mobile Version End  -->

        <!-- Buttons For Mobile & Tablet Version Start  -->
        <!-- Buttons For Mobile & Tablet Version End  -->
      </div>
      <!-- Links Section End -->
    </div>
    <!-- Linkes For Mobile & Tablet Version Start  -->
    <div class="header-sec header-links-nav">
       <ul>
         <li class="wavers wavers-dark"><a href="#"> <i class="flaticon-190-network"></i> </a></li>
         <li class="wavers wavers-dark"><a href="#"> <i class="flaticon-045-chat-1"></i> </a></li>
         <li class="wavers wavers-dark"><a href="#"> <i class="flaticon-211-notification"></i>  </a></li>
         <li class="wavers wavers-dark"><a href="#"> <i class="flaticon-041-suitcase"></i> </a></li>
         <li class="slider"></li>
       </ul>
    </div>
    <!-- Linkes For Mobile & Tablet Version End  -->
   </header>




   <div class="aps-navigation">
     <ul>
       <li class="aps-nav-line-active wavers wavers-light"> <a href="#"> <i class="flaticon-189-analytics"></i> Dashboard <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-045-chat-1"></i> Inbox <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-004-wifi-3"></i> Orders <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-065-shopping-cart-1"></i> Sales <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-154-flowchart"></i> Suppliers <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-143-coffee-cup"></i> Advertise <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-206-briefcase"></i> Career <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-179-server"></i> Database <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-007-broken-link"></i> Employees <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-197-clipboard"></i> Reports <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-118-settings"></i> Settings <span class="aps-nav-line"></span> </a> </li>
       <li class="wavers wavers-light"> <a href="#"> <i class="flaticon-134-lifesaver"></i> Help <span class="aps-nav-line"></span> </a> </li>
       <li class="slider"></li>
     </ul>
   </div>














    <div class="buttons-wrap">
      <button type="button" class="btn btn-default wavers wavers-light" name="button" >I am the Button</button>
      <button type="button" class="btn btn-info wavers wavers-light" name="button" >I am the Button</button>
      <button type="button" class="btn btn-error wavers wavers-light" name="button" >I am the Button</button>
      <button type="button" class="btn btn-warning wavers wavers-light" name="button" >I am the Button</button>
      <button type="button" class="btn btn-light wavers wavers-dark" name="button" >I am the Button</button>
      <button type="button" class="btn btn-default-light wavers wavers-medium" name="button" >I am the Button</button>
      <button type="button" class="btn btn-info-light wavers wavers-medium" name="button" >I am the Button</button>
      <button type="button" class="btn btn-error-light wavers wavers-medium" name="button" >I am the Button</button>
      <button type="button" class="btn btn-warning-light wavers wavers-medium" name="button" >I am the Button</button>
    </div>

    <div class="inp">
      <input type="text" name="" value="" class="inp-light" id="inpt1">
      <label for="inpt1"> Your Email </label>
      <span class="inp-fill inp-fill-dark"></span>
      <span class="inp-line"></span>
    </div>

    <div class="inp">
      <input type="text" name="" value="" class="inp-light" id="inpt2">
      <label for="inpt2"> Your Email </label>
      <span class="inp-fill inp-fill-light"></span>
      <span class="inp-line"></span>
    </div>

    <div class="inp tinp">
       <textarea name="name" id="inp3"></textarea>
       <label for="inp3"> Your Email </label>
       <span class="inp-fill inp-fill-dark"></span>
       <span class="inp-line"></span>
    </div>

    <div class="inp tinp">
       <textarea name="name" id="inp3"></textarea>
       <label for="inp3"> Your Email </label>
       <span class="inp-fill inp-fill-light"></span>
       <span class="inp-line"></span>
    </div>


    <div class="def-select-wrap" tabindex="1">
        <div class="def-selected-head">
            <span class="csh-text">Level</span>
            <span class="csh-icon"> <i class="flaticon-063-next"></i> </span>
        </div>
        <div class="def-select-opts">
          <li class="wavers wavers-dark" value="I am the Value">Professional</li>
          <li class="wavers wavers-dark" value="I am the Value">Intermeddiate</li>
          <li class="wavers wavers-dark" value="I am the Value">Low Level</li>
          <li class="wavers wavers-dark" value="I am the Value">Begginer</li>
        </div>
        <span class="def-select-fill def-sel-fill-dark"></span>
    </div>

    <div class="def-select-wrap" tabindex="1">
        <div class="def-selected-head">
            <span class="csh-text">Level</span>
            <span class="csh-icon"> <i class="flaticon-063-next"></i> </span>
        </div>
        <div class="def-select-opts">
          <li class="wavers wavers-dark" value="I am the Value">Professional</li>
          <li class="wavers wavers-dark" value="I am the Value">Intermeddiate</li>
          <li class="wavers wavers-dark" value="I am the Value">Low Level</li>
          <li class="wavers wavers-dark" value="I am the Value">Begginer</li>
        </div>
        <span class="def-select-fill def-sel-fill-light"></span>
    </div>


    <div class="default-tab-btns">
       <div class="def-tab-btns-wrap">
         <a href="#khan" class="def-tab-button wavers wavers-dark def-tab-btn-active"> <i class="flaticon-041-suitcase"></i> Posted Jobs </a>
         <a href="#khan" class="def-tab-button wavers wavers-dark"> <i class="flaticon-176-diamond"></i> Accepted Jobs </a>
         <a href="#khan" class="def-tab-button wavers wavers-dark"> <i class="flaticon-161-quill"></i> New Job Offer </a>
         <a href="#khan" class="def-tab-button wavers wavers-dark"> <i class="flaticon-057-settings-1"></i> Settings </a>
         <span class="pointy-slider"></span>
       </div>
    </div>

    <div class="default-tabs">
      <div class="default-tabs-wrap">
         <div class="def-tab-content">
            I am the First Tab
         </div>
         <div class="def-tab-content">
            I am the Second Tab
         </div>
         <div class="def-tab-content">
            I am the Third Tab
         </div>
         <div class="def-tab-content">
            I am the Fourth Tab
         </div>
      </div>
    </div>

    <div class="confirmation-dialogs">

      <div class="dialog conf-dialog dialog-info">
         <div class="dia-head">
            <i class="flaticon-141-information"></i>
         </div>
         <div class="dia-text">
           Are you sure and want to cancel ?
         </div>
         <div class="dia-decisison">
           <button type="button" class="btn btn-light wavers wavers-dark" name="button">Cancel</button>
            <button type="button" class="btn btn-info wavers wavers-light" name="button">Accept</button>
         </div>
      </div>

      <div class="dialog conf-dialog dialog-success">
         <div class="dia-head">
            <i class="flaticon-196-check"></i>
         </div>
         <div class="dia-text">
           Are you sure and want to cancel ?
         </div>
         <div class="dia-decisison">
           <button type="button" class="btn btn-light wavers wavers-dark" name="button">Cancel</button>
            <button type="button" class="btn btn-default wavers wavers-light" name="button">Accept</button>
         </div>
      </div>

      <div class="dialog conf-dialog dialog-warning">
         <div class="dia-head">
            <i class="flaticon-163-warning-1"></i>
         </div>
         <div class="dia-text">
           Are you sure and want to cancel ?
         </div>
         <div class="dia-decisison">
           <button type="button" class="btn btn-light wavers wavers-dark" name="button">Cancel</button>
            <button type="button" class="btn btn-warning wavers wavers-light" name="button">Accept</button>
         </div>
      </div>

      <div class="dialog conf-dialog dialog-error">
         <div class="dia-head">
            <i class="flaticon-164-cancel-1"></i>
         </div>
         <div class="dia-text">
           Are you sure and want to cancel ?
         </div>
         <div class="dia-decisison">
           <button type="button" class="btn btn-light wavers wavers-dark" name="button">Cancel</button>
            <button type="button" class="btn btn-error wavers wavers-light" name="button">Accept</button>
         </div>
      </div>
    </div>


    <div class="message-dialogs">

      <div class="dialog dialog-default mess-dialog mess-info">
        <div class="mess-dialog-content">
          <div class="dia-head">
             <i class="flaticon-141-information"></i>
          </div>
          <div class="dia-text">
            <div class="dia-title-text">
               Are you sure and want to cancel ?
            </div>
            <div class="dia-explained-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>

      <div class="dialog dialog-default mess-dialog mess-success">
        <div class="mess-dialog-content">
          <div class="dia-head">
             <i class="flaticon-196-check"></i>
          </div>
          <div class="dia-text">
            <div class="dia-title-text">
               Are you sure and want to cancel ?
            </div>
            <div class="dia-explained-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>
      <div class="dialog dialog-default mess-dialog mess-warning">
        <div class="mess-dialog-content">
          <div class="dia-head">
             <i class="flaticon-163-warning-1"></i>
          </div>
          <div class="dia-text">
            <div class="dia-title-text">
               Are you sure and want to cancel ?
            </div>
            <div class="dia-explained-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>
      <div class="dialog dialog-default mess-dialog mess-error">
        <div class="mess-dialog-content">
          <div class="dia-head">
             <i class="flaticon-164-cancel-1"></i>
          </div>
          <div class="dia-text">
            <div class="dia-title-text">
               Are you sure and want to cancel ?
            </div>
            <div class="dia-explained-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="toast-message">
       I am the toast Message
    </div>

    <div class="def-tab-wrap">
      <table>
        <thead>
          <tr>
            <th>I am the head <span class="dth-line"></span> </th>
            <th>I am the head <span class="dth-line"></span> </th>
            <th>I am the head <span class="dth-line"></span> </th>
            <th>I am the head <span class="dth-line"></span> </th>
            <th>I am the head <span class="dth-line"></span> </th>
            <th>I am the head <span class="dth-line"></span> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- <div class="default-tab-wrap">
      <div class="default-table">
         <div class="row def-tab-head">
           <div class="col-3"> I am the head <span class="dth-line"></span> </div>
           <div class="col-3"> I am the head <span class="dth-line"></span> </div>
           <div class="col-3"> I am the head <span class="dth-line"></span> </div>
           <div class="col-3"> I am the head <span class="dth-line"></span> </div>
         </div>
         <div class="row def-tab-content">
           <div class="col-3"> I am the Content of the head </div>
           <div class="col-3"> I am the Content of the head </div>
           <div class="col-3"> I am the Content of the head </div>
           <div class="col-3"> I am the Content of the head </div>
         </div>
      </div>
    </div> -->


  </body>
  <script type="text/javascript" src="components.js"></script>
</html>
